<!-- Experience Section -->
<section>
  <div id="experience" class="container d-flex vh-100 align-items-center">
    <div class="row text-left">
      <div class="col-lg-12 mx-auto">
        <h2 class="my-1 experience-text mb-4" style="color: #D8C3A4;"><span style="font-size: small; color: #E88073; padding-right: 8px;">2.</span>Places I've Worked</h2>
        <div class="experience mt-8">
          <ul role="tablist" aria-label="Job tabs" class="jobs__StyledTabList-sc-59sdss-2 name-list">
            <li>
              <button id="tab-0" role="tab" aria-selected="true" aria-controls="panel-0" tabindex="0" class="name name-active">
                <span>Asiatic JWT</span>
              </button>
            </li>
            <li>
              <button id="tab-1" role="tab" aria-selected="false" aria-controls="panel-1" tabindex="-1" class="name name-inactive">
                <span>Axion ESL</span>
              </button>
            </li>
            <li>
              <button id="tab-2" role="tab" aria-selected="false" aria-controls="panel-2" tabindex="-1" class="name name-inactive">
                <span>AMCL</span>
              </button>
            </li>
            <li>
              <button id="tab-3" role="tab" aria-selected="false" aria-controls="panel-3" tabindex="-1" class="name name-inactive">
                <span>Grameenphone</span>
              </button>
            </li>
            <li>
              <button id="tab-4" role="tab" aria-selected="false" aria-controls="panel-4" tabindex="-1" class="name name-inactive">
                <span>Team NSU Spark</span>
              </button>
            </li>
            <span class="highlight"></span>
          </ul>
        </div>
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>