.title {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #E88073;
}

.name {
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #E85A50;
}

.subtitle {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #D8C3A4;
}

.details {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #8E8D89;
  ;
}

.contactText {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
}

.btn-outline-primary {
  color: #E88073;
  border-color: #E88073;
}

.btn-outline-primary:hover {
  color: #EAE8DC;
  background-color: #E88073;
  border-color: #E88073;
}

.btn-outline-primary:active {
  color: #EAE8DC;
  background-color: #E88073;
  border-color: #E88073;
}
